<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.jienan.pullsh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>10095A15-F152-40B4-8BF9-21E28E479A00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A73757-4126-40FD-94B7-F00160DB79E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E0EE73F-8320-4144-A8DF-2FE7748E7996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>564B59B2-84EE-414E-891E-A246D027447A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33658DFB-5AEF-403B-BE57-E5CAD2DE2441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>564B59B2-84EE-414E-891E-A246D027447A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54A73757-4126-40FD-94B7-F00160DB79E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DF62F7-0278-43F2-9A77-185AA2224F73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADC4856D-067C-404A-870A-47278B9A1DBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10095A15-F152-40B4-8BF9-21E28E479A00</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Create memo from clipboard content</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54A73757-4126-40FD-94B7-F00160DB79E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8DF62F7-0278-43F2-9A77-185AA2224F73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E0EE73F-8320-4144-A8DF-2FE7748E7996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07FF5A6A-6891-48B4-AC45-B200EF586319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jienan Zhang</string>
	<key>description</key>
	<string>Push and pull memo with short id</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pullsh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>564B59B2-84EE-414E-891E-A246D027447A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pull</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>./pullsh "pull" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Input memo id ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33658DFB-5AEF-403B-BE57-E5CAD2DE2441</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:link}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E0EE73F-8320-4144-A8DF-2FE7748E7996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard:0}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10095A15-F152-40B4-8BF9-21E28E479A00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Memo created, link copied to clipboard</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07FF5A6A-6891-48B4-AC45-B200EF586319</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./pullsh "push" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8DF62F7-0278-43F2-9A77-185AA2224F73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>push</string>
				<key>subtext</key>
				<string>'cmd' to create from clipboard</string>
				<key>text</key>
				<string>Create memo ...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADC4856D-067C-404A-870A-47278B9A1DBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<true/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>54A73757-4126-40FD-94B7-F00160DB79E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Pullsh is a tool to help you create and share text with short id between devices. 
Also available on Android (Pullsh), Website (https://pullsh.me), and as a Chrome Extension.</string>
	<key>uidata</key>
	<dict>
		<key>07FF5A6A-6891-48B4-AC45-B200EF586319</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>10095A15-F152-40B4-8BF9-21E28E479A00</key>
		<dict>
			<key>note</key>
			<string>Use clipbard content</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1E0EE73F-8320-4144-A8DF-2FE7748E7996</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>33658DFB-5AEF-403B-BE57-E5CAD2DE2441</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>54A73757-4126-40FD-94B7-F00160DB79E1</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>564B59B2-84EE-414E-891E-A246D027447A</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>ADC4856D-067C-404A-870A-47278B9A1DBC</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C8DF62F7-0278-43F2-9A77-185AA2224F73</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zjn0505/pullsh-alfred</string>
</dict>
</plist>
